.navigation {
    /* border: 1px solid black; */
    background: var(--bg2-color) url(../images/bg.jpg);
    background-blend-mode: normal;
    background-size: cover;
    padding: 2px;
    transition: background-blend-mode 3s;
    position: sticky;
    top: 0px;
    z-index: 15;
    height: fit-content;

}

.navigation:hover {
    background-blend-mode: darken;
}

.navitems {
    display: grid;
    grid-template-columns: 10% 50% 40%;
    align-items: center;
}

.nav-list {
    /* border: 1px solid yellow; */
    list-style: none;
    padding: 2px;
    height: fit-content;
    display: flex;
    align-items: center;
    column-gap: 4%;
}

.logo {
    /* border: 1px solid yellow; */
    /* width: 60px;
background-image: url(https://wallpapers.com/images/hd/pink-chameleon-minimalist-laptop-art-p49ib886grlezqmd.jpg);
height: 60px;
background-position: center center;
background-size: 260%;
border-radius: 60px; */
    width: 45px;
    margin: 0px 10px;
    border-radius: 60px;
    height: 45px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    /* width: inherit;
height: inherit; */
    width: 280%;
    height: 180%;
    cursor: pointer;
}

.nav-list a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    margin: 2px 5px;
    padding: 1px 5px;
}

.nav-list a:hover {
    text-decoration: underline;
    color: gray;
}

.searchbox {
    /* border: 1px solid yellow; */
    text-align: right;
    padding: 0px 10px 0px 5px;
}

.searchbox input {
    padding: 2px 5px;
    border: 1px solid #8b5e5e;
    outline: none;
    border-radius: 10px;
    background-color: #1e2424;
    box-shadow: 4px 3px 8px #a52a2a7d;
    color: white;
    width: 200px;
    max-width: 90%;
}

.searchbox input:focus {
    background-color: #111414;
    border: 1px solid #fffcfc;
}

.btn {
    color: white;
    background-color: #010104;
    border: 1px solid #f0f016;
    padding: 3px 5px;
    border-radius: 8px;
    letter-spacing: 3px;
    cursor: pointer;
}

.btn1 {
    min-width: 25%;
}

.hamburger {
    border: 1px solid white;
    width: 28px;
    padding: 1px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.line {
    border: 1px solid white;
    margin: 3px 1px;
}

/* section 1 */
.firstsection {
    background: rgba(0, 0, 0, 0.562) url(/images/bg.jpg);
    background-blend-mode: darken;
    background-size: cover;
    min-height: 600px;
    display: flex;
}

.box1 {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.firstpart {
    /* border: 1px solid yellow; */
    width: 50%;
    backdrop-filter: blur(1px);
    padding: 10px;
}

.para {
    color: var(--text-color);
    font-size: 1.1rem;
}

.para1 {
    font-size: 1.8rem;
    padding: 10px 0px;
}

.btnlist {
    margin-top: 18px;
}

.btn2:active {
    background: rgba(0, 0, 0, 0.521);
    border: 2px solid cadetblue;
}

.btn2 {
    height: 25px;
    margin: 0px 5px;
    background: none;
    border: 2px solid cadetblue;
}

.secondpart {
    /* border: 1px solid yellow; */
    width: fit-content;
    border-radius: 12pc;
    overflow: hidden;
}

.secondpart img {
    width: 300px;
    height: inherit;
}

/* 3 sections css */
.background {
    /* border: 1px solid yellow; */
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 10px;
}

.part1 {
    /* border: 1px solid yellow; */
    width: 50%;
    padding: 10px;

}

.part1 h1 {
    color: white;
    font-size: 2.1rem;
    margin-bottom: 15px;
}

.part2 {
    /* border: 1px solid yellow; */
    width: 25pc;
}

.part2 img {
    width: 100%;
    border-radius: 130px;
    overflow: hidden;
    border: 2px solid brown;
    box-shadow: 5px 5px 20px #000000bf;
}

.thirdsection {
    flex-direction: row-reverse;
}

#image2 {
    display: none;
}
/* form css */

.formsection {
    /* border: 2px solid black; */
    padding: 40px 0px;
    background: var(--bg3-color);
}

.formsection h1 {
    text-align: center;
    margin-bottom: 40px;
}

.formpart {
    /* border: 2px solid black; */
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.form1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    /* align-items: center; */
}

.form1-inp {
    max-width: 1000px;
    margin: auto;
    width: 95%;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 4px 10px;
    margin-bottom: 10px;
    background: var(--bg4-color);
    font-weight: bold;
}
.form1-inp:focus{
    border: 2px solid rgb(94, 92, 92);
    background: #c4c0c000;
}

.btn3 {
    background:orange;
max-width: 100px;
margin: auto;
width: 95%;
}
.btn3:active{
    background: rgba(0, 0, 0, 0.801);
}
.copyright{
    background-color: black;
    padding: 10px 5px;
    text-align: center;
    color: var(--text-color);
}
